/* Notification Modal Styling */
#notificationModal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    max-width: 90%;
    position: relative;
}

#notificationMessage{
    color: black;
    font-size: 18px;
    text-align: center;
    display: block;
    visibility: visible;
    padding: 30px;
}

/* Success Message */
.success {
    color: green;
    font-weight: bold;
}

/* Error Message */
.error {
    color: red;
    font-weight: bold;
}
